body.theme-dark {
    color: #fff;
    background: #263343;
}

body.theme-dark input.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
}
body.theme-dark input.form-control { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
}

body.theme-dark table {
    background: #305374;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
}

body.theme-dark table tr td {
    border-bottom-width: 0;
}

body.theme-dark .table-striped>tbody>tr:nth-of-type(odd) {
    color: #fff;
}

body.theme-dark .table>:not(caption)>*>* {
    border-bottom-color: rgba(0,0,0,0.4)!important;
}

body.theme-dark .master-menu-contents ul a {
    color: #deefff;
}

body.theme-dark .scroll-style-3::-webkit-scrollbar-track {
	background-color: #263343;
}

body.theme-dark .scroll-style-3::-webkit-scrollbar {
	background-color: #263343;
}
body.theme-dark .master-menu, body.theme-dark .master-menu-header {
    border-color: #000!important;
}
#search-bar {
    border-color: #305374;
}

#page-contents {
    background-color: #121417;
}
