@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

/* Side Menu */
.side-menu .master-menu {
    border-right: 1px solid #cde0f1;
}
.side-menu .master-menu-contents {
    width: 100%;
    position: relative;
}
.side-menu .master-menu-body {
    /* padding-top: 40px; */
}
.side-menu .master-menu-contents ul.top-level {
    list-style-type: none;
    padding: 1rem 0.5rem 0 0.5rem;
}
.side-menu .master-menu-contents ul.top-level > li > ul {
    list-style-type: none;
    padding: 0 0 0 0.25rem;
}
.side-menu .master-menu-contents ul a {
    color: #deefff;
}
.side-menu .master-menu-contents ul li {
    padding: 0.25rem 1rem;
    border-radius: 5px;
    transition: 0.5s;
}
.side-menu .master-menu-contents ul li:hover {
    background: rgba(0,0,0,0.2);
}
.side-menu .master-menu-contents ul a.selected {
    color: #000;
}
.side-menu .master-menu-contents ul li {
    padding-top: 6px;
}
.side-menu .master-menu-contents ul.top-level > li > a {
    font-weight: 600;
    padding-top: 15px;
}
@media (min-width: 992px){
    .side-menu #doc-menu {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
    .side-menu .toggle-master-menu-container {
        display: none!important;
    }
}

@media (max-width: 992px){
    .side-menu #doc-menu {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(38 51 67 / 95%);
        z-index: 11;
    }
    .side-menu #doc-menu.hide-when-small {
        display: none!important;
    }
    .side-menu .toggle-master-menu-container {

    }
}
/* Side Menu END */

/* Stripey Dropdown Menu */
.stripey-menu .master-menu {
    border-right: 1px solid #cde0f1;
}
.stripey-menu .master-menu-contents {
    width: 100%;
    position: relative;
}
.stripey-menu .master-menu-body {
    padding: 10px;
}
.stripey-menu .master-menu-contents ul.top-level {
    display: block;
    list-style-type: none;
    column-count: 4;
    column-gap: 10px;
}
.stripey-menu .master-menu-contents ul.top-level > li > ul {
    list-style-type: circle;
    padding: 0 0 0 1rem;
}
.stripey-menu .master-menu-contents ul.top-level > li {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    vertical-align: top;
}
.stripey-menu .master-menu-contents ul a {
    color: #deefff;
}
.stripey-menu .master-menu-contents ul a.selected {
    color: #000;
}
.stripey-menu .master-menu-contents ul li {
    padding-top: 6px;
}
.stripey-menu .master-menu-contents ul.top-level > li > a {
    font-weight: 600;
    padding-top: 15px;
}

.stripey-menu #doc-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
}
.stripey-menu .master-menu-contents {
    padding: 2rem;
}
.stripey-menu .master-menu-body {
    background: rgb(38 51 67 / 95%);
    border-radius: 10px;
}
.stripey-menu #doc-menu.hide-when-small {
    display: none!important;
}
.stripey-menu .toggle-master-menu-container {

}

/* Stripey Dropdown Menu END */

.master-menu-header {
    width:100%;
    border-bottom: 1px solid #ddd;
}
.master-menu-header .logo-text {
    /* font-size: 20pt; */
    line-height: 1;
    cursor: default;
}
.master-menu-header .logo-text .maintext {
    font-size: 20pt;
    font-family: 'Dancing Script', cursive;
}
.master-menu-header .logo-text .subtext {
    text-transform: uppercase;
}

#search-bar {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#search-bar .fa {
    margin-top: 7px;
}

#search-bar .input-group-addon {
    background: transparent;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
}

#search-bar .form-control {
    background: transparent;
    border: 0;
}

#page-contents {
    overflow: auto;
    height: 100vh;
}

#doc-menu {
    overflow: auto;
    height: 100vh;
}



#page-draw {
    padding: 0 4rem 0 0;
}
#page-links {
    max-width: 300px;
    overflow: auto;
    height: 100vh;
    position: fixed;
}
#page-links ul {
    padding: 3rem 0 0 0;
    list-style: none;
}
#page-links li{
    padding-top: 8px;
}
body {
     height: 100vh;
     overflow: hidden;
}
.full-height {
    height: 100%;
}
.flex-vertical-center {
    display: flex;
    align-items: center;
    justify-content: start;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
}

.section-title-padding {
    padding-bottom: 1.5rem!important;
    margin-bottom: 3rem!important;
    padding-left: 0.5rem;
}

.section-title-underline {
    position: relative;
}

.section-title-underline::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title-underline::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title-underline.text-start::after {
    width: 50%;
    left: 0;
}

.section-title-underline-less.text-start::after {
    width: 40%;
    left: 0;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

section {
    width: 100%;
}

.item-title {
    padding-top: 1rem;
    font-weight: bold;
}


/* scroll bars */

.scroll-style-3::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.scroll-style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scroll-style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
