a {
  color: LINK_COLOR;
}

.back-to-top {
  background: MAIN_COLOR;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
  background: MAIN_COLOR;
}

.mobile-nav-active .mobile-nav-toggle {
  background-color: MAIN_COLOR;
}

#hero p span {
  color: MAIN_COLOR;
}

#hero .social-links a:hover {
  color: MAIN_COLOR;
}

.section-title h2::after {
  background: MAIN_COLOR;
}

.about .content ul i {
  color: MAIN_COLOR;
}

.facts .count-box i {
  background: MAIN_COLOR;
}

.progress-bar {
  background-color: MAIN_COLOR;
}

.resume .resume-item {
  border-left: 2px solid MAIN_COLOR;
}

.resume .resume-item h4 {
  color: MAIN_COLOR;
}

.resume .resume-item::before {
  border: 2px solid MAIN_COLOR;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: MAIN_COLOR;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid MAIN_COLOR;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: MAIN_COLOR;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid MAIN_COLOR;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: MAIN_COLOR;
}

.contact .info i {
  color: MAIN_COLOR;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: MAIN_COLOR;
}

.contact .php-email-form button[type="submit"] {
  background: MAIN_COLOR;
}

#footer .social-links a {
  background: MAIN_COLOR;
}

pre {
    background: MAIN_COLOR;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    color: TEXT_COLOR_ON_MAIN_COLOR;
}

code {
    font-size: .875em;
    color: MAIN_COLOR;
    word-wrap: break-word;
}

code {
    font-size: .875em;
    background: MAIN_COLOR;
    word-wrap: break-word;
    color: TEXT_COLOR_ON_MAIN_COLOR;
    padding: 2px 10px;
    border-radius: 5px;
}

pre > code {
    background: initial;
    color: TEXT_COLOR_ON_MAIN_COLOR;
    padding: 0;
    border-radius: 0px;
}

.section-title-underline::before {
    background: TEXT_COLOR_ON_MAIN_COLOR;
}

.section-title-underline::after {
    background: MAIN_COLOR;
}

.scroll-style-3::-webkit-scrollbar-thumb {
	background-color: MAIN_COLOR;
}
