
  <!-- ======= Footer ======= -->

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="<%- pageData.theme.main || '#0678e3' %>" fill-opacity="1" d="M0,32L24,32C48,32,96,32,144,42.7C192,53,240,75,288,117.3C336,160,384,224,432,229.3C480,235,528,181,576,176C624,171,672,213,720,224C768,235,816,213,864,170.7C912,128,960,64,1008,32C1056,0,1104,0,1152,10.7C1200,21,1248,43,1296,58.7C1344,75,1392,85,1416,90.7L1440,96L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path>
  </svg>
  <footer id="footer" style="background-color:<%- pageData.theme.main || '#0678e3' %>;color:<%- pageData.theme.textColorOnMain || '#ffffff' %>;">
    <div class="container">
      <h3><%- pageData.footerTitle || 'ShinobiDocs' %></h3>
      <p><%- pageData.footerTagline || pageData.tagline || 'All content is property of their respective owners.' %></p>
      <div class="social-links">
          <%
              if(config.social){
                  for (let i = 0; i < config.social.length; i++) {
                      const item = config.social[i] %>
                      <a target="_blank" title="<%- item.label %>" href="<%- item.href %>"><i class="fa fa-<%- item.icon %>"></i></a>
                  <% }
              }
           %>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span><%- pageData.copyrightTitle || 'Shinobi Systems' %></span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/typed.js/typed.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <% if(config.tidioKey){ %>
      <script src="//code.tidio.co/<%- config.tidioKey %>.js" async></script>
  <% } %>


</body>

</html>
