<!-- masterMenu -->
<div id="doc-menu" class="master-menu hide-when-small scroll-style-3">
    <div class="master-menu-contents">
        <div class="master-menu-body">
            <ul class="top-level">
                <%
                function drawLink(item){
                    if(item.hidden)return '';
                    let html = `<li><a ${!item.isRemote ? `class="smooth-href" href="${item.href}" ${item.newTab ? 'target="_blank"' : ''}` : item.href !== '/' ? `href="/external?href=${item.href}"` : `href="${item.href}"`}>${item.label}</a>`;
                    if(item.items){
                        html += `<ul>`;
                        item.items.forEach((item2) => {
                            html += drawLink(item2)
                        })
                        html += `</ul>`;
                    }
                    html += `</li>`;
                    return html
                }
                masterMenu.items.forEach((item) => { %>
                    <%- drawLink(item) %>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<!-- masterMenu END -->
