<%
    function createPageLinksFromPageData(pageBlocks){
        const pageLinks = []
        function processItem(item){
            if(item.hyperlink){
                const itemId = item.id
                pageLinks.push({
                    href: '#' + itemId,
                    label: item.hyperlink.replace(/(<([^>]+)>)/gi, ""),
                    scroll: true,
                })
            }
            if(item.blocks){
                item.blocks.forEach(processItem)
            }
        }
        pageBlocks.forEach(processItem)
        return pageLinks
    }
%>
<div id="page-links" class="scroll-style-3">
    <ul>
        <li><small style="font-weight:bold;cursor:default;">ON THIS PAGE</small></li>
        <% createPageLinksFromPageData(pageData.pageBlocks).forEach((item) => { %>
            <li><a href="<%- item.href %>" <%- item.attribute || item.attributes || '' %> class="<%- item.class || '' %> <%- item.scroll ? 'scrollto' : '' %>"><i class="fa fa-caret-right" style="font-size: 80%;opacity:0.5;"></i> <%- item.label %></a></li>
        <% }) %>
    </ul>
</div>
