<div id="top-header" class="d-flex flex-row master-menu-header">
    <div class="d-flex flex-vertical-center p-3">
        <a href="/"><img src="https://shinobi.video/libs/assets/icon/favicon.ico" style="display:inline-block;width:40px;height:40px;margin-right:10px;border-radius:50%"></a>
    </div>
    <div class="d-flex flex-grow-1 flex-vertical-center" style="padding: 1rem 1rem 1rem 0!important;">
        <span class="logo-text"><div class="maintext"><%- config.logoMainText || 'Shinobi' %></div> <small class="subtext"><%- config.logoSubText === undefined ? 'Documentation' : config.logoSubText %></small></span>
    </div>
    <div class="d-flex flex-vertical-center" style="padding: 1rem 1rem 1rem 0!important;">
        <form class="input-group" id="search-bar">
          <div class="input-group-addon text-muted">
              <a id="search-submit"><i class="fa fa-search"></i></a>
          </div>
          <input id="search-field" class="form-control form-control-sm" placeholder="Search">
        </form>
    </div>
    <div class="toggle-master-menu-container d-flex flex-vertical-center" style="padding: 1rem 1rem 1rem 0!important;">
        <a class="btn btn-sm btn-dark toggle-master-menu"><i class="fa fa-bars"></i></a>
    </div>
</div>
