<%- include('blocks/header.ejs') %>
<%- include('blocks/topHeader.ejs') %>
<div class="d-flex flex-row full-height <%- config.menuIsDropdown ? 'stripey-menu' : 'side-menu' %>" style="position: relative;">
    <%- include('blocks/masterMenu.ejs') %>
    <div class="col-12 <%- config.menuIsDropdown ? '' : 'col-lg-10' %>">
    	<div id="page-contents" class="scroll-style-3">
            <main id="main" class="d-flex container">
                <div class="d-flex flex-grow-1 col-9" id="page-draw">
                    <%- include('blocks/pageDraw.ejs') %>
                </div>
                <div class="col-3 d-md-flex d-none">
                    <%- include('blocks/pageMenu.ejs') %>
                </div>
            </main>
            <%- include('blocks/footer.ejs') %>
    	</div>
	</div>
</div>
