<%- include('blocks/header.ejs') %>
<%- include('blocks/topHeader.ejs') %>
<div class="d-flex flex-row full-height <%- config.menuIsDropdown ? 'stripey-menu' : 'side-menu' %>">
    <%- include('blocks/masterMenu.ejs') %>
	<div class="col-12 <%- config.menuIsDropdown ? '' : 'col-lg-10' %>">
    	<div id="page-contents" class="scroll-style-3">
            <main id="main" class="d-flex container">
                <%- include('blocks/pageDraw.ejs') %>
            </main>
            <%- include('blocks/footer.ejs') %>
    	</div>
	</div>
</div>
