<div class="d-flex flex-grow-1 col-9" id="page-draw">
    <%- include('blocks/pageDraw.ejs') %>
</div>
<div class="col-3 d-md-flex d-none" id="page-menu">
    <%- include('blocks/pageMenu.ejs') %>
</div>
<link href="/assets/css/myProfileColors.css?theme=<%- encodeURIComponent(JSON.stringify(pageData.theme)) %>" rel="stylesheet">
